.dashboard 
    margin: 0 auto
    .header 
        display: flex
        justify-content: space-between
        align-items: center
        margin: 40px 0
        color: $primary-color
    .subContainer 
        display: flex
        .summary-content 
            display: flex
            align-items: flex-start
            flex-wrap: wrap
            width: 70%
        .summary-card
            width: 30%
        .balances 
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-end
            width: 30%
        .user-balance, .trips-balance 
            position: relative
            width: 80%
            padding: 20px
            margin-right: 0
            margin-bottom: 50px
            background: $fifth-color
            color: $primary-color 

.allTrips, .completedTrips, .currentTrips 
    margin-top: 20px
    display: flex
    justify-content: center
