.sign-up
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    background: linear-gradient(-120deg, $third-color 49%, $primary-color 51%)
    .sign-up-form 
        display: flex
        flex-direction: column
        justify-content: center
        width: 25%
        height: 35%
        padding: 10px
        border-radius: 5px
        background: $fifth-color
        label 
            font-size: 2rem
            text-align: center
            color: $primary-color
            margin-bottom: 20px
        input 
            width: 70%
            height: 30px
            margin: 0 auto 10px
            text-align: center
            border: none
            border-radius: 2px
        button 
            width: 40%
            height: 10%
            color: $primary-color
            background-color: $third-color
            margin: 0 auto 10px
            text-align: center
            border: none
            border-radius: 2px
        a
            font-size: 1rem
            text-align: center
            color: $primary-color            